<%= form_with(model: meeting, class: "contents") do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(meeting.errors.count, "error") %> não permitem que esta reunião seja salva:</h2>

      <ul>
        <% meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nome %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :inicio %>
    <%= form.datetime_select :start_time, { start_day: Date.today, start_year: Date.today.year, minute_step: 60 }, { class: "select py-2 px-2 mr-2" } %>
  </div>

  <div class="my-5">
    <%= form.label :final %>
    <%= form.datetime_select :end_time, { start_day: Date.today, start_year: Date.today.year, minute_step: 60 }, { class: "select py-2 px-2 mr-2" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "bg-gray-500 border p-3 hover:bg-gray-50 transition ease duration-300 rounded-lg text-center focus:bg-gray-100 lg:inline-block block lg:ml-2" %>
  </div>
<% end %>
