<div id="<%= dom_id meeting %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= meeting.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= meeting.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= meeting.end_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= meeting.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this meeting", meeting, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this meeting', edit_meeting_path(meeting), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
